<h4>Você gostaria de avaliar esta sugestão?</h4>
<%= simple_form_for [original, review, evaluation] do |f| %>
  <%= f.input :content%>
  <%= f.input :stars%>
  <%= f.submit "Avaliar"%>
<% end %>
<br>
