<h1>Ola, <%= @user.name %>, tudo bem com você?</h1>

<h2>Tem texto novo no Brasileirês!</h2>

<p>
  Acaba de ser postado um novo texto de serviço público, que precisa ser simplificado.
  
  É a sua oportunidade de ajudar a melhorar a prestação dos serviços públicos e facilitar a vida dos cidadãos.
</p>

<h3>Para saber mais, visite <%= link_to 'brasileires.com', root_url%> </h3>
