<!-- User --><!-- Header --><!--
Para habilitar o novo menu &#233; necess&#225;rio descoment&#225;-lo em:
govbr/institucional/viewlets/institucional_menu_govbr.pt
--><!-- <header id="site-header" class="has-navigation-swipe"> -->
<header id="site-header" class="has-navigation-dropdown">
  <div class="header-wrapper secondary">
    <div class="portal-name">
      <a href="https://www.gov.br/pt-br" class="portal-logo" title="Gov.br">
        <span class="sr-only">Portal Gov.br</span>
      </a>
      
    </div>

    <div class="site-header-links">
      <div class="links-rapidos">
        <a class="toggle-links-rapidos" title="Acesso rápido" href="#">
          <span class="fas fa-ellipsis-v"></span>
          <span class="sr-only">Acesso rápido</span>
        </a>

        <ul>
          <!-- TODO: Traduzir -->
          <li class="titulo">Acesso Rápido</li>
          <li>
            <a href="https://www.gov.br/pt-br/orgaos-do-governo">Órgãos do Governo</a>
          </li>
          <li>
            <a href="http://www.acessoainformacao.gov.br">Acesso à Informação</a>
          </li>
          <li>
            <a href="http://www4.planalto.gov.br/legislacao">Legislação</a>
          </li>
          <li>
            <a href="/accessibility-info">Acessibilidade</a>
          </li>
          <!--<li>
            <a href="http://www.vlibras.gov.br/" class="link-vlibras">
              <span class="fas fa-assistive-listening-systems"></span>
            </a>
          </li>-->
          <!-- <li class="language-selection">
            <a href="" class="currentLanguage language-pt-br">
              Portugu&#234;s
            </a>
            <ul>
              <li class="title">Idioma/Language</li>
              <li class="currentLanguage language-pt-br">
                <a href="" title="Portugu&#234;s (Brasil)">Portugu&#234;s (Brasil)</a>
              </li>
              <li class="language-en">
                <a href="" title="English">English</a>
              </li>
              <li class="language-es">
                <a href="" title="Espa&#241;ol">Espa&#241;ol</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
      <ul class="header-icons">
        <li>
          <a href="#" class="link-contraste">
            <span class="fas fa-adjust" aria-hidden="true"></span>
            <span class="sr-only">Mudar para o modo de alto contraste</span>
          </a>
        </li>
      </ul>

      <a href="http://solicitacao.servicos.gov.br" class="link-acesso">
        <span class="fas fa-user"></span>
        Entrar
      </a>
    </div>
  </div>

  <div class="header-wrapper main">
    <div class="site-name-wrapper">
      <a class="ico-navegacao toggle-main-navigation" href="#">
        <span class="sr-only">Abrir menu principal de navegação</span>
        <span class="fa fa-bars" aria-hidden="true"></span>
        <span class="fa fa-times" aria-hidden="true"></span>
      </a>

      <!-- <a href="/" class="site-name">Nome do site</a> -->
      <!-- Usar nome completo -->
      
      <div class="site-name">
        <a href="https://www.gov.br/pt-br" title="O portal do Brasil">Governo do Brasil</a>
      </div>
    </div>

    
  </div>
</header>
