<br>
<h1>Brasileirês: aproximando o cidadão do seu serviço</h1>


<div class="container">

  <div class="row mb-5">
    <div class="col-md-4 text-center height300">
      <div class="br-card" id="card0">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">1) Submeta o texto do seu serviço</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="far fa-sticky-note" style="font-size: 50px;"></i>
            <p class="mt-3"><strong> Sua oportunidade de melhorar aquele texto que está gerando dúvidas! </strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="br-card" id="card1">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">2) Receba o apoio da comunidade</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-users" style="font-size: 50px;"></i>
            <p class="mt-3"><strong>Nossos agentes de linguagens simples darão valiosas sugestões!</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="br-card" id="card2">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">3) Atualize seu texto no Gov.br </p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-chart-line" style="font-size: 50px;"></i>
            <p class="mt-3"><strong> Um texto mais simples melhora seus indicadores </strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <h2 class="text-center font-weight-bold mt-3 mb-3">Veja exemplos</h2>



<div class="container">
    <div class="cards">
            <div class="card" id="card-auto">
                <h5 class="card-header" id="card-before">Antes</h5>
                <div class="card-body">
                <h5 class="card-title">Descrição do Serviço "Obter Carteira Digital de Trânsito" </h5>
                <p class="card-text">A Carteira Digital de Trânsito (CDT) é disponibilizada por meio de um aplicativo e permite a obtenção das versões digitais da Carteira Nacional de Habilitação - CNH e do Certificado de Registro e Licenciamento de Veículo - CRLV (documento do veículo).
                        Funcionalidades:
                        Gerenciar a carteira de motorista, os documentos de diferentes veículos;
                        Certificado de Registro de Licenciamento de Veículo - CRLV digital (o veículo deve está registrado em nome do condutor);
                        Fazer a indicação do principal condutor (o veículo deve está registrado em nome do condutor);
                        Receber avisos de recall entre outras funcionalidades em um só aplicativo, direto do celular.
                        Esses documentos digitais têm o mesmo valor jurídico das respectivas versões impressas.
                        A autenticidade, confiabilidade e integridade da CNH e CRLV digitais podem ser verificadas sem necessidade de acesso à internet, com o uso do aplicativo Vio.
                        A verificação por meio de qualquer outro aplicativo, que não tenha sido desenvolvido pelo Serpro ou encomendado pelo Denatran, não garante a integridade dos dados contidos na CDT. Caso os dados lidos pelo QR Code sejam diferentes das informações exibidas na CNH ou CRLV (digital ou impressa), trata-se de uma possível falsificação.
                        As cópias impressas da CNH Digital e CRLV Digital, mesmo com a assinatura digital do Detran, têm apenas o valor de cópia autenticada e, portanto, não substituem a CNH e CRLV impressas.
                        Aviso:
                        Para gerar a versão digital da CNH, é necessário que:
                        A versão em papel possua o QR Code (apenas para carteiras emitidas a partir de 01/05/2017) </p>
                </div>
            </div>
            <div class="card" id="card-auto">
                    <h5 class="card-header" id="card-after">Depois</h5>
                    <div class="card-body">
                        <h5 class="card-title">Descrição do Serviço "Obter Carteira Digital de Trânsito" </h5>
                        <p class="card-text">A Carteira Digital de Trânsito é um aplicativo que guarda, no seu celular, sua carteira de motorista e o documento do veículo que esteja em seu nome. É uma forma segura de ter seus documentos sempre à mão, com a mesma validade dos documentos impressos. Outra vantagem é poder compartilhar o documento digital do veículo com as outras pessoas que o utilizam.</p>
                    </div>

            </div>
             <div class="card" id="card-auto">
                <h5 class="card-header" id="card-before">Antes</h5>
                <div class="card-body">
                <h5 class="card-title">Descrição do Serviço "Tirar o Certificado Internacional de Vacinação e Profilaxia" </h5>
                <p class="card-text">O Certificado Internacional de Vacinação ou Profilaxia (CIVP) é o documento que comprova a vacinação contra doenças. Emitido gratuitamente pela Anvisa, o CIVP é exigido por alguns países para a entrada de viajantes em seu território.
                    Para saber se o país exige o Certificado e consultar outras recomendações de saúde, acesse a página do CIVP no Portal da Anvisa e escolha o país de destino. Consulte também os países onde seu voo vai fazer escala ou conexão.
                    Este documento tem validade vitalícia. Portanto, se você já possui um certificado, não é necessário solicitar um novo.
                    ATENÇÃO! Os e-mails automáticos não devem ser respondidos.
                    </p>
                </div>
            </div>
            <div class="card" id="card-auto">
                    <h5 class="card-header" id="card-after">Depois</h5>
                    <div class="card-body">
                        <h5 class="card-title">Descrição do Serviço "Tirar certificado internacional de vacinação" </h5>
                        <p class="card-text">O certificado internacional de vacinação é o documento que comprova a vacinação contra doenças. Ele é necessário porque alguns países exigem o documento para a entrada em seu território.

                            Se você vai viajar para o exterior, consulte a lista de países que exigem o certificado. Se seu voo tiver escala ou conexão, confira todos os países por onde irá passar.

                            O certificado é emitido gratuitamente e não tem prazo de validade -. você só precisa tirá-lo uma vez na vida.</p>
                    </div>

            </div>
     </div>

</div>
