<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
  <head><style id="google-anti-flicker-css">.async-hide { opacity: 0 !important} </style><script id="google-anti-flicker-js">(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date; 
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')}; 
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c; 
})(window,document.documentElement,'async-hide','dataLayer',4000, 
{'GTM-NHZSKTD':true});</script><script id="google-tag-manager">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NHZSKTD');</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    
        <base href="https://www.gov.br/pt-br/pagina-inicial/" /><!--[if lt IE 7]></base><![endif]-->
    

    
        <meta property="og:title" content="Governo Federal - Governo do Brasil." />
<meta property="og:description" content="O gov.br reúne, em um só lugar, serviços para o cidadão e informações sobre a atuação de todas as áreas do governo." />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.gov.br/pt-br/pagina-inicial" />
<meta property="og:image" content="https://www.gov.br/logo.png" />

<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="Governo do Brasil" />


  

  
  
  <script>
    (function() {
        var po = document.createElement('script');
        po.async = true;
        po.src = document.location.protocol + '//connect.facebook.net/pt_BR/all.js#xfbml=1';
        var head = document.getElementsByTagName('head')[0];
        head.appendChild(po);
    }());
    </script>



  

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@" />
  




<meta name="description" content="O gov.br reúne, em um só lugar, serviços para o cidadão e informações sobre a atuação de todas as áreas do governo." />
<meta property="creator.productor" content="http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/26" />



  
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/reset-cachekey-7204aaee5cb077faf1b1ba5ee02c1623.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/base-cachekey-c5a3697d4e3108b441652ba469f5ba87.css" />
    <style type="text/css" media="screen">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourceplone.app.jquerytools.dateinput-cachekey-a98cbdddffa44ea7e5f4c11640853dd6.css);</style>
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/resourceplone.formwidget.datetimestyles-cachekey-e194eb5d8f78910f98f68c29742491e2.css" />
    <style type="text/css" media="screen">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourcecollective.nitfnitf-cachekey-1cf3e182def7a24e61e5fe61e8805ab1.css);</style>
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/ploneCustom.css" media="all" />
        <!--[if lt IE 8]>    
    
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/IEFixes-cachekey-5a722cdadfbaecde5142bf5ac75ca130.css" media="screen" />
        <![endif]-->
    
    <style type="text/css" media="screen">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourcecollective.z3cform.datagridfielddatagridfield-cachekey-6e67cfd96aa28ac8c814b39a4aa964f1.css);</style>
    <link rel="stylesheet" type="text/css" href="https://www.gov.br/portal_css/Sunburst%20Theme/resourcegovbr.policycanais-cachekey-e326c3fd3ab8094f5919f5d4835043f7.css" media="screen" />
    <style type="text/css" media="all">@import url(https://www.gov.br/portal_css/Sunburst%20Theme/resourcepas.plugins.loginunicologinunico-cachekey-dd035ec66580cb18aeda0e101394383f.css);</style>

  
  
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourceplone.app.jquery-cachekey-d91b142726bfe0be95e1f4f78d00f8bd.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/collective.js.jqueryui.custom.min-cachekey-f3111cd8eef32c12a746d33f00f2501f.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/register_function-cachekey-32c65c741af6d7bc9b04f5da2e88451b.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/inline_validation-cachekey-a935292bdb564aadb74a302854d0d190.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/kss-bbb-cachekey-b5a22e98aab1ace1f0a1b961483dca79.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourceplone.formwidget.recurrencejquery.tmpl-beta1-cachekey-0604178d3afa0b7519d228c4319d726c.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.js.bootstrapjsbootstrap.min-cachekey-b1726ca496c0afd056d53d5168f9cfdb.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.coverjsmain-cachekey-697a353a9769d1665c539bdfb1df1b25.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcebrasil.gov.tilesvendorjquery.jplayer.min-cachekey-dd914e59334477f4e8d75ef736a4901f.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcedropdown-menu-cachekey-01ed3da87f9e565296e7113900dc7e94.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcecollective.z3cform.datagridfielddatagridfield-cachekey-9bb654cc2ffa00870ce0a0871d8aab18.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/resourcegovbr.portaljsgaleria-de-aplicativos-cachekey-fbd2a43a5616cab49b1ce23f8ff20011.js"></script>
    <script type="text/javascript" src="https://www.gov.br/portal_javascripts/Sunburst%20Theme/themegovbr.servicosjsservico-cachekey-ef742df16f68148d7dcf0b7a33569254.js"></script>



  <link rel="stylesheet" href="https://www.gov.br/++resource++brasil.gov.agenda/brasilgovagenda-720c34e.css" />


  <script defer="defer" src="https://www.gov.br/++resource++brasil.gov.agenda/brasilgovagenda-720c34e.js"></script>



  <link rel="stylesheet" href="https://www.gov.br/++resource++brasil.gov.portal/brasilgovportal-b9966f9.css" />


  <script defer="defer" src="https://www.gov.br/++resource++brasil.gov.portal/brasilgovportal-b9966f9.js"></script>



  <link rel="stylesheet" href="https://www.gov.br/++resource++brasil.gov.tiles/brasilgovtiles-7d5753d.css" />


  <script defer="defer" src="https://www.gov.br/++resource++brasil.gov.tiles/brasilgovtiles-7d5753d.js"></script>



<title>Governo Federal - Governo do Brasil. — Português (Brasil)</title>

<link rel="http://purl.org/dc/terms/subject http://schema.org/about http://xmlns.com/foaf/0.1/primaryTopic" href="http://vocab.e.gov.br/2011/03/vcge#esquema" />
        
    <link rel="author" href="https://www.gov.br/pt-br/author/padrao" title="Informações do Autor" />


    <link rel="canonical" href="https://www.gov.br/pt-br" />

    
    


<script type="text/javascript">
        jQuery(function($){
            if (typeof($.datepicker) != "undefined"){
              $.datepicker.setDefaults(
                jQuery.extend($.datepicker.regional['pt-BR'],
                {dateFormat: 'dd/mm/yy'}));
            }
        });
        </script>




    <link rel="search" href="https://www.gov.br/pt-br/@@search" title="Buscar neste site" />



        
        
        
  

        
        

        
        <meta name="generator" content="Plone - http://plone.org" />
    

    <meta charset="utf-8" />
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="apple-touch-icon" sizes="180x180" href="/++theme++padrao_govbr/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/++theme++padrao_govbr/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/++theme++padrao_govbr/favicons/favicon-16x16.png" />
    <link rel="mask-icon" href="/++theme++padrao_govbr/favicons/safari-pinned-tab.svg" color="#00a300" />
    <meta name="msapplication-config" content="favicons/browserconfig.xml" />
    <meta name="theme-color" content="#00a300" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" crossorigin="anonymous" />
    <script src="https://www.youtube.com/iframe_api"></script>
  <link href="/++theme++padrao_govbr/govbrtheme-41fed54.css" rel="stylesheet" /></head>

  <body id="" class="default-header-template portal-govbr cover-layout-layout-vazio template-view portaltype-collective-cover-content site-pt-br section-pagina-inicial userrole-anonymous" data-base-url="https://www.gov.br/pt-br/pagina-inicial" data-portal-url="https://www.gov.br" dir="ltr"><!-- Google Tag Manager (noscript) --><noscript>
                    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHZSKTD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
                </noscript><!-- End Google Tag Manager (noscript) --><nav class="govbr-skip-menu" aria-label="Acesso rápido">
      <a href="#wrapper" accesskey="1">
        <span class="sr-only">Ir para o</span> Conteúdo
        <span class="access-key">1</span>
      </a>
      <a href="/" accesskey="2">
        <span class="sr-only">Ir para a</span> Página Inicial
        <span class="access-key">2</span>
      </a>
      <a href="#main-navigation" accesskey="3">
        <span class="sr-only">Ir para o menu de</span> Navegação
        <span class="access-key">3</span>
      </a>
      
      <a href="#tile-busca-input" accesskey="4">
        <span class="sr-only">Ir para a</span> Busca
        <span class="access-key">4</span>
      </a>
      <a href="#portal-footer" accesskey="5">
        <span class="sr-only">Ir para o</span> Mapa do site
        <span class="access-key">5</span>
      </a>
    </nav><div id="barra-identidade">
    <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
            <ul id="menu-barra-temp" style="list-style:none;">
                    <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
                    <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
            </ul>
    </div>
</div><noscript role="contentinfo" aria-label="Aviso de Javascript desabilitado">
      <dl class="portalMessage attention erro-javascript">
        <dd>
          Seu navegador não pode executar javascript. Alguns recursos podem não
          funcionar corretamente.
        </dd>
      </dl>
    </noscript>
    <div id="portal-breadcrumbs-wrapper">
      
    </div><!-- <div class="video"></div> --><div id="wrapper">
      <!-- Columns -->

      <div id="main">
        

        <main id="main-content">

            <div id="viewlet-above-content">



<div id="viewlet-tileshare" data-title-fb="Compartilhar no Facebook (abre em nova janela)" data-title-twitter="Tweet (abre em nova janela)" data-title-linkedin="Compartilhar no Linkedin  (abre em nova janela)" data-title-gplus="Compartilhar no Google+  (abre em nova janela)" data-title-link="Copiar para área de transferência" data-title-more="Mais opções">
</div>


    
</div>

            
                <div class="">

                    

                    

    <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
        <dt>Info</dt>
        <dd></dd>
    </dl>

    


                    
                        <div id="content">

                            

                            
    
    
        
            
                


    

        
            
            
                <div class="row busca-destaque-home">
                    <div class="row-content">

                        
                            
    
        
            
                
                
                    <div class="column col-md-12 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="d5e566b0-c8b8-4ad4-90d3-33ca93f2ec48">
                        
        
            <div class="cover-list-tile tile-content sortable-tile">
                
                    <img src="https://www.gov.br/pt-br/pagina-inicial/@@govbr.tile.busca/d5e566b0-c8b8-4ad4-90d3-33ca93f2ec48/@@images/9ed83f0b-7a3d-40f5-825f-72ea9a28484e.png" width="1348" height="554" alt="Brasil, o gigante verde" />
                
                <div class="title">
                    O que você procura?
                    
                </div>
                <div class="input-wrapper">
                    <form action="https://www.gov.br/pt-br/@@search">
                        <label for="tile-busca-input" class="sr-only">Pesquise em Gov.br</label>
                        <input name="SearchableText" type="text" value="" id="tile-busca-input" autofocus="true" title="Pesquise em gov.br" placeholder="Pesquise em gov.br" />
                        
                        <button type="submit">
                            <span class="sr-only">Pesquisar</span>
                        </button>
                    </form>
                </div>
                <div class="assuntos-em-alta">
                    <div class="tile-header">
                        
                            <h2>Coronavírus (COVID-19)</h2>
                            
                        
                        <a href="#" class="btn-assuntos-em-alta closed">
                            <span class="fa fa-angle-down" aria-hidden="true"></span>
                            <span class="sr-only label-down">Abrir assuntos em alta</span>
                            <span class="fa fa-angle-up" aria-hidden="true"></span>
                            <span class="sr-only label-up">Fechar assuntos em alta</span>
                        </a>
                    </div>            
                    <ul>
                        <li>
                            <a href="https://www.gov.br/pt-br/links-destaque-home/saiba-mais">Saiba mais</a>
                        </li>
                        <li>
                            <a href="https://www.gov.br/pt-br/links-destaque-home/app-coronavirus">App coronavírus-SUS</a>
                        </li>
                        <li>
                            <a href="https://www.gov.br/pt-br/links-destaque-home/todos-por-todos">Seja solidário: #TodosporTodos</a>
                        </li>
                        <li>
                            <a href="https://www.gov.br/pt-br/links-destaque-home/setor-produtivo-vamos-vencer">Setor Produtivo: Vamos Vencer</a>
                        </li>
                    </ul>
                </div>   
            </div>
        
        
    
                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                        

                    </div>
                </div>
            
        

    



            
                


    

        
            
            
                <div class="row tile-default">
                    <div class="row-content">

                        
                            
    
        
            
                
                
                    <div class="column col-md-12 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="c0f44fa3-5af3-40c3-878a-d894baba4812">
                        
        
            <div class="cover-list-tile tile-content servicos-em-destaque">

            <div id="viewlet-below-content">







    
        <script class="social-links-script">
        $(document).ready(function () {
            for (let tile of $('.nitf-basic-tile')) {
                if (!$(tile).find('.social-links').length) {
                    var url = '#'
                    $(tile).find('a').each(function(){
                        url = $(this).attr('href');
                    });
                    var titulo = '#'
                    $(tile).find('a').each(function(){
                        titulo = $(this).text();
                    });
                    var imagem = url+'/logo.png'
                    $(tile).find('img').each(function(){
                        imagem = $(this).attr('src');
                    });
                    var link_telegram = $('<a title="Telegram" class="link-whatsapp"><span class="fab fa-telegram-plane"></span></a>');
                    $(link_telegram).attr('href', 'https://telegram.me/share/url?url='+url);
                    var link_whatsapp = $('<a title="WhatsApp" class="link-whatsapp"><span class="fab fa-whatsapp"></span></a>');
                    $(link_whatsapp).attr('href', 'https://api.whatsapp.com/send?text='+url);
                    var link_facebook = $('<a title="Facebook"><span class="fab fa-facebook-f"></span></a>');
                    $(link_facebook).attr('href', 'http://www.facebook.com/sharer.php?u='+url);
                    var link_twitter = $('<a title="Twitter"><span class="fab fa-twitter"></span></a>');
                    $(link_twitter).attr('href', 'https://twitter.com/share?text='+titulo+'&url='+url);
                    var link_linkedin = $('<a title="LinkedIn"><span class="fab fa-linkedin-in"></span></a>');
                    $(link_linkedin).attr('href', 'https://www.linkedin.com/shareArticle?mini=true&title='+titulo+'&url='+url);
                    var link_google = $('<a title="Google+"><span class="fab fa-google-plus-g"></span></a>');
                    $(link_google).attr('href', 'https://plus.google.com/share?url='+url);
                    var link_email = $('<a title="E-mail"><span class="fas fa-at"></span></a>');
                    $(link_email).attr('href', url+'/sendto_form');
                    var link_pinterest = $('<a title="Pinterest"><span class="fab fa-pinterest-p"></span></a>');
                    $(link_pinterest).attr('href', 'https://pinterest.com/pin/create/button/?url='+url+'&media='+imagem+'&description='+titulo);
                    var link_clipboard = $('<a class="link-clipboard" onclick="event.preventDefault()"><span class="fas fa-link"></span></a>');
                    $(link_clipboard).attr('href', url);
                    $(link_clipboard).attr('title', $('#viewlet-tileshare')[0].dataset.titleLink);
                    var link_x = $('<a href="#" class="toggle-social-links"><span class="fas fa-share-alt"></span><span class="fas fa-times"></span></a>');
                    var div_principal = $('<div class="social-links"></div>');
                    $(div_principal).append(link_facebook);$(div_principal).append(link_twitter);
                    $(div_principal).append(link_clipboard);
                    $(div_principal).prepend(link_x);

                    var container = $(tile).children('.tile-subtitle');
                    $(container).append(div_principal);
                }
            }
            new ClipboardJS('.link-clipboard', {
                text: function (trigger) {
                    return trigger.getAttribute('href');
                }
            });
        });
        </script>
    
    


    
        <script class="social-links-script">
        $(document).ready(function () {
            for (let tile of $('.nitf-basic-tile')) {
                if (!$(tile).find('.social-links').length) {
                    var url = '#'
                    $(tile).find('a').each(function(){
                        url = $(this).attr('href');
                    });
                    var titulo = '#'
                    $(tile).find('a').each(function(){
                        titulo = $(this).text();
                    });
                    var imagem = url+'/logo.png'
                    $(tile).find('img').each(function(){
                        imagem = $(this).attr('src');
                    });
                    var link_telegram = $('<a title="Telegram" class="link-whatsapp"><span class="fab fa-telegram-plane"></span></a>');
                    $(link_telegram).attr('href', 'https://telegram.me/share/url?url='+url);
                    var link_whatsapp = $('<a title="WhatsApp" class="link-whatsapp"><span class="fab fa-whatsapp"></span></a>');
                    $(link_whatsapp).attr('href', 'https://api.whatsapp.com/send?text='+url);
                    var link_facebook = $('<a title="Facebook"><span class="fab fa-facebook-f"></span></a>');
                    $(link_facebook).attr('href', 'http://www.facebook.com/sharer.php?u='+url);
                    var link_twitter = $('<a title="Twitter"><span class="fab fa-twitter"></span></a>');
                    $(link_twitter).attr('href', 'https://twitter.com/share?text='+titulo+'&url='+url);
                    var link_linkedin = $('<a title="LinkedIn"><span class="fab fa-linkedin-in"></span></a>');
                    $(link_linkedin).attr('href', 'https://www.linkedin.com/shareArticle?mini=true&title='+titulo+'&url='+url);
                    var link_google = $('<a title="Google+"><span class="fab fa-google-plus-g"></span></a>');
                    $(link_google).attr('href', 'https://plus.google.com/share?url='+url);
                    var link_email = $('<a title="E-mail"><span class="fas fa-at"></span></a>');
                    $(link_email).attr('href', url+'/sendto_form');
                    var link_pinterest = $('<a title="Pinterest"><span class="fab fa-pinterest-p"></span></a>');
                    $(link_pinterest).attr('href', 'https://pinterest.com/pin/create/button/?url='+url+'&media='+imagem+'&description='+titulo);
                    var link_clipboard = $('<a class="link-clipboard" onclick="event.preventDefault()"><span class="fas fa-link"></span></a>');
                    $(link_clipboard).attr('href', url);
                    $(link_clipboard).attr('title', $('#viewlet-tileshare')[0].dataset.titleLink);
                    var link_x = $('<a href="#" class="toggle-social-links"><span class="fas fa-share-alt"></span><span class="fas fa-times"></span></a>');
                    var div_principal = $('<div class="social-links"></div>');
                    $(div_principal).append(link_facebook);$(div_principal).append(link_twitter);
                    $(div_principal).append(link_clipboard);
                    $(div_principal).prepend(link_x);

                    var container = $(tile).children('.tile-subtitle');
                    $(container).append(div_principal);
                }
            }
            new ClipboardJS('.link-clipboard', {
                text: function (trigger) {
                    return trigger.getAttribute('href');
                }
            });
        });
        </script>
    
    


  






</div>
        </main>

        
      </div>

      <div class="conteudo-relacionado"></div>

      <footer id="portal-footer" class="portal-footer">
        <div class="footer-wrapper">
          <div class="govbr-logo"></div>
          <!--<div class="colunas-rodape">
              <div class="coluna-menu">-->
          <ul class="list-navigation"><li class="selected"><a href="https://www.gov.br/pt-br" class="plain">Página Inicial</a></li><li class="plain dropdown-submenu"><a href="https://www.gov.br/pt-br/servicos" class="plain">Serviços</a>
                <ul class="submenu">
                    <li class="dropdown-submenu">

    

        <a href="https://www.gov.br/pt-br/servicos/buscar-servicos-por" class="state-protected hasDropDown">
            
            Buscar serviços por
        </a>

        <ul class="submenu navTree navTreeLevel1">
            




<li>

    

        <a href="https://www.gov.br/pt-br/categorias" class="state-published">
            
            Categorias
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/servicos/listar_orgaos" class="state-published">
            
            Órgãos
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/servicos-estaduais" class="state-published">
            
            Estados
        </a>

        
    
</li>




        </ul>
    
</li>

<li class="dropdown-submenu">

    

        <a href="https://www.gov.br/pt-br/servicos/servicos-por-publico-alvo" class="state-protected hasDropDown">
            
            Serviços por público alvo
        </a>

        <ul class="submenu navTree navTreeLevel1">
            




<li>

    

        <a href="https://www.gov.br/pt-br/servicos/listar_servicos_segmento?segmento=publico_alvo_cidadaos" class="state-published">
            
            Cidadãos
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/servicos/listar_servicos_segmento?segmento=publico_alvo_empresas" class="state-published">
            
            Empresas
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/servicos/listar_servicos_segmento?segmento=publico_alvo_orgaos" class="state-published">
            
            Órgãos e Entidades Públicas
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/servicos/listar_servicos_segmento?segmento=publico_alvo_outros" class="state-published">
            
            Demais segmentos (ONGs, organizações sociais, etc)
        </a>

        
    
</li>




        </ul>
    
</li>
                </ul>
            </li><li class="plain"><a href="https://www.gov.br/pt-br/apps/@@galeria-de-aplicativos" class="plain">Galeria de Aplicativos</a></li><li class="plain dropdown-submenu"><a href="https://www.gov.br/pt-br/noticias" class="plain">Notícias</a>
                <ul class="submenu">
                    <li>

    

        <a href="https://www.gov.br/pt-br/noticias/ultimas-noticias" class="state-published">
            
            Últimas notícias
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/coronavirus" class="state-published">
            
            Coronavirus
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/acoes-2019" class="state-published">
            
            Ações 2019
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/saude-e-vigilancia-sanitaria" class="state-published">
            
            Saúde
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/agricultura-e-pecuaria" class="state-published">
            
            Agricultura e Pecuária
        </a>

        
    
</li>

<li class="dropdown-submenu">

    

        <a href="https://www.gov.br/pt-br/noticias/assistencia-social" class="state-published hasDropDown">
            
            Cidadania e Assistência Social
        </a>

        <ul class="submenu navTree navTreeLevel1">
            




<li>

    

        <a href="https://www.gov.br/pt-br/noticias/assistencia-social/patria-voluntaria" class="state-published">
            
            Pátria Voluntária
        </a>

        
    
</li>




        </ul>
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/cultura-artes-historia-e-esportes" class="state-published">
            
            Cultura e Esporte
        </a>

        
    
</li>

<li class="dropdown-submenu">

    

        <a href="https://www.gov.br/pt-br/noticias/financas-impostos-e-gestao-publica" class="state-published hasDropDown">
            
            Economia e Gestão Pública
        </a>

        <ul class="submenu navTree navTreeLevel1">
            




<li>

    

        <a href="https://www.gov.br/pt-br/noticias/financas-impostos-e-gestao-publica/400-dias" class="state-published">
            
            400 dias
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/financas-impostos-e-gestao-publica/500-dias" class="state-published">
            
            500 dias
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/financas-impostos-e-gestao-publica/600-dias" class="state-published">
            
            600 dias
        </a>

        
    
</li>




        </ul>
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/educacao-e-pesquisa" class="state-published">
            
            Educação e Pesquisa
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/energia-minerais-e-combustiveis" class="state-published">
            
            Energia
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/transito-e-transportes" class="state-published">
            
            Infraestrutura
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/justica-e-seguranca" class="state-published">
            
            Justiça e Segurança
        </a>

        
    
</li>

<li class="dropdown-submenu">

    

        <a href="https://www.gov.br/pt-br/noticias/meio-ambiente-e-clima" class="state-published hasDropDown">
            
            Meio Ambiente
        </a>

        <ul class="submenu navTree navTreeLevel1">
            




<li>

    

        <a href="https://www.gov.br/pt-br/noticias/meio-ambiente-e-clima/operacao-verde-brasil" class="state-published">
            
            Operação Verde Brasil
        </a>

        
    
</li>




        </ul>
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/trabalho-e-previdencia" class="state-published">
            
            Trabalho e Previdência
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/noticias/viagens-e-turismo" class="state-published">
            
            Turismo
        </a>

        
    
</li>
                </ul>
            </li><li class="plain"><a href="/planalto" class="plain">Acompanhe o Planalto</a></li><li class="plain"><a href="https://www.gov.br/pt-br/arquivos-de-servicos" class="plain">Arquivos de serviços</a></li><li class="plain"><a href="https://www.gov.br/pt-br/canais-do-executivo-federal" class="plain">Canais do Poder Executivo Federal</a></li><li class="plain dropdown-submenu"><a href="https://www.gov.br/pt-br/navegacao" class="plain">Navegação</a>
                <ul class="submenu">
                    <li>

    

        <a href="https://www.gov.br/pt-br/accessibility-info" class="state-published">
            
            Acessibilidade
        </a>

        
    
</li>

<li>

    

        <a href="https://www.gov.br/pt-br/sitemap" class="state-published">
            
            Mapa do Site
        </a>

        
    
</li>

<li>

    

        <a href="/pt-br/termos-de-uso" class="state-published">
            
            Termos de Uso
        </a>

        
    
</li>

<li>

    

        <a href="https://gov.br/sobre" class="state-published">
            
            Sobre o gov.br
        </a>

        
    
</li>
                </ul>
            </li><li class="plain"><a href="http://solicitacao.servicos.gov.br/" class="plain">Acesse sua conta gov.br</a></li><li class="plain"><a href="https://www.gov.br/pt-br/guia-de-edicao-de-servicos-do-gov.br" class="plain">Guia de Edição de Serviços do Gov.br</a></li><li class="plain"><a href="https://www.gov.br/pt-br/orgaos-do-governo" class="plain">Órgãos do Governo</a></li><li class="plain"><a href="https://www.gov.br/pt-br/todosportodos" class="plain">Todos por todos</a></li></ul>
          <!--</div>
            </div>-->

          <div class="redes-e-logos">
            <div class="redes-sociais">
              <div class="titulo">Redes sociais</div>
            <ul class="portal-redes">
            
                <li class="portalredes-twitter portalredes-item">
                    <a href="https://www.twitter.com/govbr">Twitter</a>
                </li>
            
                <li class="portalredes-youtube portalredes-item">
                    <a href="https://www.youtube.com/user/CanalPortalBrasil">YouTube</a>
                </li>
            
                <li class="portalredes-facebook portalredes-item">
                    <a href="https://www.facebook.com/governodobrasil">Facebook</a>
                </li>
            
                <li class="portalredes-flickr portalredes-item">
                    <a href="https://www.flickr.com/palaciodoplanalto">Flickr</a>
                </li>
            
        </ul></div>
            <div id="footer-brasil"></div>
          </div>
        </div>

        <div class="texto-copyright">
    <span omit-tag="">Todo o conteúdo deste site está publicado sob a licença</span> <a rel="license" href="https://creativecommons.org/licenses/by-nd/3.0/deed.pt_BR">Creative Commons Atribuição-SemDerivações 3.0 Não Adaptada</a>.
  </div>
      </footer>

      <nav class="back-to-top" aria-label="Voltar ao topo da página">
        <a href="#wrapper">
          <span class="fa fa-chevron-up"></span>
          <span class="sr-only">Voltar ao topo da página</span>
        </a>
      </nav>
    </div>
    
    
      <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js"></script>
    
<script type="text/javascript" src="/++theme++padrao_govbr/govbrtheme-41fed54.js"></script><div id="plone-analytics"><!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-80181585-36"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80181585-36');
</script>
</div></body>
</html>