<h1>Brasileirês</h1>
<br>
<div class="container">
  <%@submitteds.each do |text|%>
  <div class="row">
    <div class="col-4">
      <%=text.service_title%>
      <%=text.service%>
    </div>
  </div>
</div>
