.bannerbra{
  background: asset-url('banner.jpg') center center;
  -webkit-background-size: cover;
  background-repeat:no-repeat;
  height:250px;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  h1{
    color:white;
    text-shadow: 2px 1px #472d30;
    text-align:left;
    margin:0px;
    font-size:50px;
  }
}
.fst{
  margin-left:50px !important;
}
.scd{
  margin-left:100px !important;
}
