.btn-solicitar{
font-family: rawline,helvetica,arial,sans-serif;
outline: none;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none !important;
background-color: #268744;
font-size: 16px;
font-weight: 600;
border-radius: 51px;
text-align: center;
color: #fff!important;
border: 3px solid #ededed;
box-sizing: content-box;
}

.pequeno{
  width: 100px;
}

.conforto{
  padding:8px 10px;
}

.conforto-plus{
   padding:10px 20px;
}

.spaced{
  margin: 10px 30px;
}

.btn-apagar{
font-family: rawline,helvetica,arial,sans-serif;
outline: none;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none !important;
background-color: #6a040f;
height: 52px;
line-height: 52px;
// width: 180px;
font-size: 16px;
font-weight: 600;
border-radius: 51px;
text-align: center;
color: #fff!important;
border: 3px solid #ededed;
margin:0px;
box-sizing: content-box;
// padding:5px 10px;
}
