.card{
  background-color:#F8F8F8;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  height:280px;
  margin:auto;
  margin-top: 10px;
  width:100%;
  padding:10px 7px;
  border:1px solid rgb(240,240,240);
  box-shadow:1px 2px rgb(220,220,220);
  p{
    font-size:12px;
    color:#555555;
    margin:5px;
  }

  h5{
    color:#0D326F;
    margin-bottom:0px;
    font-size:18px;
  }

  h6{
    color:#555555;
  }

  .bluelink{
    color:#0D326F;
  }

  .redlink{
    color:#6a040f;
  }
}

.iconbox{
  position:absolute;
  top:5px;
}

.cardtitle{
  margin-bottom:20px;
  position:absolute;
  top:8px;
  left:62px;
  font-size:15px;
  text-align:center;
}

.datecard{
  color:#0c326f !important;
  font-weight:800;
  position:absolute;
  top:32px;
  left:68px;
  font-size:15px;
}

.card_servtitle{
  position:absolute;
  top:70px;
  left:10px;
  right:10px;
  text-align:center;
}

.cardcontent{
  position:absolute;
  top:110px;
  margin-top:10px;
  text-align:justify;
  p{
    padding:0px 5px;
  }
}

.cardlinks{
  height:20px;
  position:absolute;
  bottom:8px;
  left:50px;
  margin-top:10px;
}

.review{
  margin:10px;
  padding:5px;
  text-align:center !important;
  box-shadow: 2px 1px rgb(100,100,100);
  border:1px solid rgb(220,220,220);
  height:150px;
  a{
    color:#264653 !important;
  }
}

.counter{
  background-color: #0D326F;
  font-size:30px;
  text-align:center;
  margin:0px;
  padding:3px;
  color:white;
  width:15%;
  position:absolute;
  top:11px;
  left:25px;
}

.eval{
  background-color:#e9ecef;
  padding:10px;
  margin:5px;
  border-radius:5px;
  box-shadow: 1px 1px rgb(100,100,100)
}

.evaltitle{
  color:#0c326f;
}

.dashcard{
  background-color:#F8F8F8;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:space-between;
  text-align:center;
  height:280px;
  margin:auto;
  margin-top: 10px;
  width:100%;
  padding:10px 7px;
  border:1px dotted #495057;
  box-shadow:2px 2px #14213d;
  border-radius:10px;
  outline:none;
  h5{
    color:#0c326f;
  }
  p{
    font-size:14px;
    color:#212529;
  }
  a{
    text-decoration:none;
    color:#212529;
  }
  .dashlink{
    color:#14213d;
  }
  .dashtitle{
    margin-top:10px;
    margin-bottom:20px;
  }
  .dashdate{
    color:#0c326f;
    font-weight:800;
  }
}

.dashrevi, .dashsuge{
  line-height:1;
}

.dashnumber{
  font-size:20px;
  color:#0c326f;
  font-weight:800;
}

.dashdark{
  background-color:#f5f3f4;
  margin-top:0px;
  padding:10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;

}

#card-auto {
  height: auto;
}

#card-before {
  color: red;
}

#card-after {
  color: green;
}
