.card{
  background-color:#F8F8F8;
  text-align:center;
  height:280px;
  margin:auto;
  margin-top: 10px;
  padding:10px 7px;
  border:1px solid rgb(240,240,240);
  box-shadow:1px 2px rgb(220,220,220);
  p{
    font-size:12px;
    color:#555555;
    margin:5px;
  }

  h5{
    color:#0D326F;
    margin-bottom:0px;
  }

  h6{
    color:#555555;
  }

  .bluelink{
    color:#0D326F;
  }

  .redlink{
    color:#6a040f;
  }
}

.iconbox{
  position:absolute;
  top:5px;
}

.cardtitle{
  margin-bottom:20px;
  position:absolute;
  top:8px;
  left:20px;
}

.cardcontent{
  position:absolute;
  top:55px;
  height:240px;
  margin-top:10px;
  text-align:justify;
  h5{
    margin-bottom:10px;
    text-align:center;
  }
}

.cardlinks{
  height:40px;
  position:absolute;
  bottom:15px;
  left:25px;
  margin-top:10px;
}

.review{
  margin:10px;
  padding:10px;
  text-align:center !important;
  box-shadow: 2px 1px rgb(100,100,100);
  border:1px solid rgb(220,220,220);
  height:150px;
  a{
    color:#264653 !important;
  }
}

.counter{
  background-color: #0D326F;
  font-size:30px;
  text-align:center;
  margin:0px;
  padding:3px;
  color:white;
  width:15%;
  position:absolute;
  top:11px;
  left:25px;
}

.eval{
  background-color:#e9ecef;
  padding:10px;
  margin:5px;
  border-radius:5px;
  box-shadow: 1px 1px rgb(100,100,100)
}

.evaltitle{
  color:#0c326f;
}
