.card{
  background-color:#F8F8F8;
  text-align:center;
  height:280px;
  margin:auto;
  padding:10px 7px;
  border:1px solid rgb(240,240,240);
  box-shadow:1px 2px rgb(220,220,220);
  p{
    font-size:12px;
    color:#555555;
    margin:5px;
  }

  h5{
    color:#0D326F;
    margin-bottom:0px;
  }

  h6{
    color:#555555;
  }

  .bluelink{
    color:#0D326F;
  }

  .redlink{
    color:#6a040f;
  }
}

.cardcontent{
  height:240px;
}

.cardlinks{
  height:40px;
}

.review{
  margin:10px;
  padding:10px;
  text-align:center !important;
  box-shadow: 2px 1px rgb(100,100,100);
  border:1px solid rgb(220,220,220);
  height:150px;
  a{
    color:#264653 !important;
  }
}

.counter{
  background-color: #0D326F;
  font-size:30px;
  text-align:center;
  margin:0px;
  padding:3px;
  color:white;
  width:15%;
  position:absolute;
  top:11px;
  left:25px;
}

.eval{
  background-color:#d9d9d9;
  padding:10px;
  margin:5px;
  border-radius:5px;
}
