footer{
  position:fixed;
  bottom:0px;
  background-color:#0D326F;
  height:50px;
  width:100%;
  text-align:center;
  font-family: 'Satisfy', cursive;
  color:white;
  font-weight:800;
  padding:10px;
  font-size:25px;
}
