.formtitle{
  color:#0c326f;
  font-weight:800;
}

.form-inputs{
  width:80%;
  margin:auto;
}

.formlabel{
  color:#0c326f;
  margin-top:5px;
  margin-left:0px;
  text-align:left;
  font-weight:530;
  margin-bottom:5px;
  font-size:20px;
}

.formcamp{
  width:50px;
}

.formcampbig{
  width:400px;
  border-radius:5px;
}

.writer-camp{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:20px;
}

.labelwc{
  margin-left:10px;
}

.rascunho{
  display:flex;
  flex-direction:row;
}

.explanation{
  font-size:12px;
  font-style:italic;
  width:50%;
  margin:5px;
  background-color:#e5e5e5;
  border-radius:5px;
}

.photobtn{
  // margin:auto;
  // width:50%;
  text-align:center;
  margin:0px;
}

.lado{
  margin-left:110px;
}

.centeredbtn{
  text-align:center;
  margin-left:0px;
  margin-top:30px;
}

.remember{
  display:flex;
  flex-direction:row;
  font-weight:800;
}

.linkform{
  font-weight:800;
  color:#14213d;
}

.boxform{
  width:80%;
  margin:auto;
}

.linksbox{
  text-align:center;
  padding:20px;
  background-color:rgb(200,200,200);
  border-radius:5px;
  width:70%;
  margin:auto;
}
