.formlabel{
  color:#0c326f;
  margin-top:30px;
  margin-left:5px;
  text-align:left;
  font-weight:800;
  margin-bottom:0px;
  font-size:20px;
}

.formcamp{
  width:50px;
}

.writer-camp{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:20px;
}

.labelwc{
  margin-left:10px;
}
