body{
  background-color:white;
}

h1, h2, h3, h4, h5, h6{
  text-align:center;
  a{
    color:#2670e8;
  }
}

h1{
  color:#0D326F;
  margin:10px;
}

i{
  color:#0c326f;
  font-size:30px !important;
  text-align:center !important;
  margin:5px auto;
}

.container{
  margin-top:50px;
}

.links{
font: 100% Arial, FreeSans, sans-serif;
box-sizing: border-box;
outline: none;
background-color: #268744;
font-family: rawline,helvetica,arial,sans-serif;
line-height: 1.75;
margin: 20px;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
right: 0;
display: inline-block;
border: 3px solid rgb(220,220,220);
border-radius: 41px;
color: white;
float: none;
font-size: 14px;
font-weight: 600;
padding: 10px 24px;
text-align: center;
  &:hover{
    text-decoration:none;
    color:white;
    background-color:#2d6a4f;
  }
}

.linkshome{
  display:flex;
  flex-direction:row;
  text-align:center;
  justify-content:center;
  margin-top:-10px !important;
  margin-bottom:-20px !important;

}

.greetings{
  text-align:left !important;
  margin:5px 35px;
  font-size: 22px;
  color:#0D326F;
}

.search{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
  text-align:center;
  margin-right:10px;
  margin-bottom:40px !important;
  margin-top:5px;
}

.src{
  margin-left:-25px;
  font-size:14px;
  padding:5px 10px;
  background-color:#0c326f;
  border:1px solid #0c326f;
  border-radius:5px;
  color:white;
}

.srccamp{
  margin:5px;
  font-size:16px;
  padding:5px 10px;
  border-radius:25px;
}

.srcbtn{
  border-radius:0px 21px 21px 0px;
  margin-left:-29px;
  background-color:transparent;
  border:1px solid #ced4da;
  padding:6px;
}

.pseudobar{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
}
