.serv-subtitle{
font: 100% Arial, FreeSans, sans-serif;
-webkit-box-direction: normal;
list-style: none;
box-sizing: border-box;
outline: none;
background-color: transparent;
font-family: rawline,helvetica,arial,sans-serif;
line-height: 1.75;
margin: 0;
padding: 0;
border: 0;
letter-spacing: normal;
vertical-align: baseline;
margin-right: 18px;
text-decoration: none;
color: #0c326f !important;
display: block;
margin-bottom: 20px;
font-size: 24px;
font-weight: 700;
text-align:left;
}

.serv-parttext{
  text-align:justify;
  margin:40px;
  margin-top:0px;
  margin-bottom:30px;
  line-height:1.3;
  font-family: rawline, helvetica,arial,sans-serif;
  background-color:#f5f3f4;
  padding:10px;
  border-radius:5px;
  box-shadow:1px 1px #a5a58d;
  &:hover{
    text-decoration:none;
  }
}

.titlecamp{
  color: #0c326f !important;
  font-size: 24px;
}

.small{
  margin:15px;
  margin-top:30px;
}

.big{
  font-size:36px;
  margin:auto;
  margin-top:40px;
  margin-bottom:30px;
  text-align:center;
  box-shadow:1px 1px rgb(220,220,220);
  border-radius:5px;
  width:50%;
  padding:10px;
  background-image:linear-gradient(135deg, rgb(250,250,250), rgb(247,247,247), rgb(250,250,250));
}

.camptext{
  text-align:justify;
  margin:10px 10px;
  border-radius:5px;
  background-color: #f0efeb;
  padding:10px;
  height:100%;
}

.camptxtsimp{
  background-color:#fff3b0;
  padding:10px 20px;
  margin:10px;
  border-radius:5px;
  text-align:justify;
}

.noalter{
  font-size:20px;
  text-align:center;
  color:#0c326f;
}


.subtlt{
  font-size:22px;
  font-weight:700;
}

.original{
  color:#001427;
}

.sugestao{
  color:#6b705c;
}

.rev-subtitle{
  font: 100% Arial, FreeSans, sans-serif;
  -webkit-box-direction: normal;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  font-family: rawline,helvetica,arial,sans-serif;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  vertical-align: baseline;
  margin-right: 18px;
  text-decoration: none;
  color:#1b4332 !important;
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align:left;
  &:hover{
    text-decoration:none !important;
  }
  a{
    text-decoration:none !important;
  }
  a:hover{
    text-decoration:none !important;
  }
}

.rev-parttext{
  text-align:justify;
  margin:40px;
  margin-top:0px;
  margin-bottom:30px;
  line-height:1.3;
  font-family: rawline, helvetica,arial,sans-serif;
  background-color:#fcefb4;
  padding:10px;
  border-radius:5px;
  box-shadow:1px 1px #323031;
  color:#432818;
  font-weight:500;
  &:hover{
    text-decoration:none;
  }
}

.links-revisor{
  text-align:left;
}

.stars{
  font-size:30px;
  color:#ffba08;
  }

