.serv-subtitle{
font: 100% Arial, FreeSans, sans-serif;
-webkit-box-direction: normal;
list-style: none;
box-sizing: border-box;
outline: none;
background-color: transparent;
font-family: rawline,helvetica,arial,sans-serif;
line-height: 1.75;
margin: 0;
padding: 0;
border: 0;
letter-spacing: normal;
vertical-align: baseline;
margin-right: 18px;
text-decoration: none;
color: #0c326f !important;
display: block;
margin-bottom: 20px;
font-size: 24px;
font-weight: 700;
text-align:left;
}

.serv-parttext{
  text-align:justify;
  margin:40px;
  margin-top:0px;
  margin-bottom:30px;
  line-height:1.3;
  font-family: rawline, helvetica,arial,sans-serif;
  background-color:#f5f3f4;
  padding:10px;
  border-radius:5px;
  box-shadow:1px 1px #a5a58d;
  &:hover{
    text-decoration:none;
  }
}

.titlecamp{
  color: #0c326f !important;
  font-size: 24px;
}

.rev-subtitle{
  font: 100% Arial, FreeSans, sans-serif;
  -webkit-box-direction: normal;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  font-family: rawline,helvetica,arial,sans-serif;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  vertical-align: baseline;
  margin-right: 18px;
  text-decoration: none;
  color:#264653 !important;
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align:left;
  &:hover{
    text-decoration:none !important;
  }
  a{
    text-decoration:none !important;
  }
  a:hover{
    text-decoration:none !important;
  }
}

.stars{
  font-size:30px;
  color:#ffba08;
  }

